body {

    height: 5000px;
    box-sizing: border-box;
}

#menu div {
    
    background-color: lightgray;
    padding: 15px;
    border: 5px solid white;
}

#menu div p {
    text-align: justify;
}

@media (max-width: 767px) {
    #menu{
        margin-inline: 3%;
    }
}
